
*{
    box-sizing: border-box;
}
ul, li, a{
    text-decoration: none !important;
    list-style: none ;
    padding: 0;
    margin: 0;

}



.mainPage{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(237, 235, 235);
    overflow-y: auto;
}


.loginForm {

    /* width: 40%; */
    width: 35%;

    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */

    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;

    padding: 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 9px 2px;


}


.container{
    padding: 20px 10px;
}

.headingGrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingGrp h3{
    margin: 0;
}

.SearchBx{
    position: relative;
}

.SearchBx input{
    padding: 5px 5px 5px 32px;
    border-radius: 5px;

}


.SearchBx i{
    position: absolute;
    top: 11px;
    left: 7px;
}



.table-responsive{
    height: 70vh;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;
    justify-content: end;
}

.pagination i{
    cursor: pointer;
}




.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}



.btnGrp{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 20px;
}

.btnGrp .btnDiv{
    width: 40%;
}

label{
    margin: 0;
    margin-left: 2px;
    font-weight: 500;
}

button{
    border-radius: 15px !important;
}


.redTextError{
  color: red;
}

.redBorder{
  border: 1px solid red;
}
